{{#if funcionarioentrando }}
<footer class="bg-dark" style="margin-top: 20em;box-shadow: 0px 0px 20px black">
    <p class="card-body text-white text-center fw-bold rounded" style="background-color: rgba(0, 0, 0, 0.2);">Autoria de
        Lucas Coelho Lucinda</p>
    <section class="d-flex flex-row justify-content-center gap-2 p-2">
        <a class="btn btn-outline-light btn-floating  m-1" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Whatsapp para Contato: +55 48 8473-2588" style="box-shadow: 0px 4px 6px black">
            <img src="https://res.cloudinary.com/daxkdqdex/image/upload/v1661041854/whatsapp_g2f3k8_lhgu25.png"
                alt="img whatsapp"></a>
        <a class="btn btn-outline-light btn-floating m-1" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Linkedin Profissional" href="https://www.linkedin.com/in/lucas-coelho-lucinda-4863751b4/"
            style="box-shadow: 0px 4px 6px black">
            <img src="https://res.cloudinary.com/daxkdqdex/image/upload/v1661041981/linkedin_2_m7snum_qdmqzw.png"
                alt="img linkedin"></a>
        <a class="btn btn-outline-light btn-floating m-1" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Gmail para Contato: lucas.c.lucinda@gmail.com" style="box-shadow: 0px 4px 6px black">
            <img src="https://res.cloudinary.com/daxkdqdex/image/upload/v1661042092/gmail_f2h9la_isdvrp.png"
                alt="img gmail"></a>
        <a class="btn btn-outline-light btn-floating m-1" data-bs-toggle="tooltip" data-bs-placement="top"
            title="GitHub Profissional: LucasWhatever" style="box-shadow: 0px 4px 6px black"
            href="https://github.com/LucasWhatever">
            <img src="https://res.cloudinary.com/daxkdqdex/image/upload/v1661042209/gitHub_ykq1g6_xzhrjk.png"
                alt="img github"></a>
    </section>
</footer>
{{else}}
<footer class="card bg-dark" style="margin-top: 20em;box-shadow: 0px 0px 20px black">
    <header class="card-header text-white fw-bold text-center fs-5" style="background-color: rgba(0, 0, 0, 0.2);">
        Olá, Visantante! Seja Muito Bem-Vindo!
    </header>
    <section class="card-body">
        <p class="text-white text-center lh-base" style="font-style: italic">
           Esse é um Sistema de Crud, voltado para cadastro, análise, organização, pesquisa e eliminação de dados, podendo ser usado em empresas que buscam ter um controle melhor sobre os prazos, as tarefas e produtos sobre a responsabilidade de seus funcionários. Dito isso, caso queira fazer um teste, por favor, fique  à vontade para  se cadastrar e aproveitar esse sistema.
        </p>
    </section>
</footer>
{{/if}}