<div class=" d-flex justify-content-center " role="main">
    <section class="bg-white rounded p-3 w-50" style="box-shadow: 0px 5px 10px black;">
        <section class="bg-dark text-white p-3 rounded" style="box-shadow: 0px 5px 10px black">
            <h2 class="card text-center text-dark fw-bold bg-white p-3">
                Realizar Chamado:</h2>
            <form class="was-validated" action="/cadastrarchamado/" method="post" enctype="multipart/form-data">
                <a class="fw-bold rounded fs-5 btn btn-outline-light d-flex justify-content-center mt-5"
                    data-bs-toggle="collapse" data-bs-target="#collapse1" role="button" aria-expanded="false"
                    aria-controls="collapse1" style="box-shadow: 0px 5px 10px black">
                    Chamado:
                </a>
                <div class="collapse" id="collapse1">
                    <ul class="mt-5 d-flex flex-rows align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3 fw-bold me-2">
                            <span>Produto:</span>
                        </li>
                        <li class="col-sm-8 me-5">
                            <input class="form-control bg-dark text-white text-center" type="text" name="Produto"
                                placeholder="Nome do Produto" style="text-transform:lowercase" required>
                        </li>
                    </ul>
                    <hr>
                    <ul class="mt-4 d-flex flex-rows align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3  fw-bold  me-2">
                            <label htmlFor="Foto">Foto Do Produto:</label>
                        </li>
                        <li class="col-sm-8 me-5">
                            <input class="form-control bg-dark text-white text-center" type="file" name="Foto" required>
                        </li>
                    </ul>
                    <hr>
                    <ul class="mt-4 d-flex flex-rows  align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3 fw-bold me-2">
                            <span>Valor:</span>
                        </li>
                        <li class="col-sm-8 me-5">
                            <input class="form-control bg-dark text-white text-center" type="text" name="Valor" id="Valor"
                                placeholder="Valor do Produto" data-thousands="." data-decimal="," data-prefix="R$ "
                                required>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                            <script
                                src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
                            <script>$("#Valor").maskMoney();</script>
                        </li>
                    </ul>
                    <hr>
                    <ul class="mt-4 d-flex flex-rows  align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3 fw-bold me-2">
                            <span>Quantidade:</span>
                        </li>
                        <li class="col-sm-8 me-5">
                            <input class="form-control check-input bg-dark text-white text-center" min='0' type="number"
                                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                                name="Quantidade" placeholder="Quantidade do Produto" required>
                        </li>
                    </ul>
                    <hr>
                    <ul class="mt-4  d-flex flex-rows  align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3  fw-bold  me-2">
                            <span>Processo:</span>
                        </li>
                        <li class="col-sm-8 me-5">
                            <select name="Processo" class="form-select bg-dark text-white"
                                aria-label=".form-select-sm example" required>
                                <option value="" selected>Selecione um Processo</option>
                                <option value="descarte">descarte</option>
                                <option value="aquisição">aquisição</option>
                                <option value="negociacao">negociação</option>
                                <option value="substituição">substituição</option>
                                <option value="devolução">devolução</option>
                                <option value="atualização">atualização</option>
                                <option value="gerenciamento">gerenciamento</option>
                            </select>
                        </li>
                    </ul>
                    <hr>
                    <ul class="mt-4  d-flex flex-rows  align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3  fw-bold  me-2">
                            <span>Setor:</span>
                        </li>
                        <li class="col-sm-8 me-5">
                            <select name="Setor" class="form-select bg-dark text-white"
                                aria-label=".form-select-sm example" required>
                                <option value="" selected>Selecione um Modulo</option>
                                <option value="atendimento">atendimento</option>
                                <option value="contabilidade">contabilidade</option>
                                <option value="entregas">entregas</option>
                                <option value="vendas">vendas</option>
                                <option value="controle de estoque">controle de estoque</option>
                                <option value="eletrotecnico">eletrotecnico</option>
                                <option value="gerencia">gerencia</option>
                                <option value="gestão de resíduos">gestão de resíduos</option>
                            </select>
                        </li>
                    </ul>
                    <hr>
                </div>
                <a class="fw-bold fs-5 btn btn-outline-light d-flex justify-content-center mt-5"
                    data-bs-toggle="collapse" data-bs-target="#collapse2" role="button" aria-expanded="false"
                    aria-controls="collapse2" style="box-shadow: 0px 5px 10px black;border-radius: 5px 5px 5px 5px">
                    Direcionamento:
                </a>
                <div class="collapse" id="collapse2">
                    <ul class="mt-5 d-flex flex-rows  align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3  fw-bold  me-2">
                            <span>Destinatário:</span>
                        </li>
                        <li class="col-sm-8 me-5">
                            <select name="Destinatario" class="form-select bg-dark text-white"
                                aria-label=".form-select-sm example" required>
                                <option value="" selected>Selecione um Caminho</option>
                                <option value="posto de coleta seletiva">posto de coleta seletiva</option>
                                <option value="estoque">estoque</option>
                                <option value="carregamento/entregas">carregamento/entregas</option>
                                <option value="loja/departamentos">loja/departamentos</option>
                            </select>
                        </li>
                    </ul>
                    <hr>
                    <ul class="mt-4 d-flex flex-rows  align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3  fw-bold  me-2">
                            <span>Procedimento:</span>
                        </li>
                        <li class="col-sm-8 me-5">
                            <select name="Procedimento" class="form-select bg-dark text-white"
                                aria-label=".form-select-sm example" required>
                                <option value="" selected>Selecione uma Natureza</option>
                                <option value="venda">venda</option>
                                <option value="danificação/falha">danificação/falha</option>
                                <option value="atualização">atualização</option>
                                <option value="inspeção">inspeção</option>
                                <option value="baixa no sistema">baixa no sistema</option>
                                <option value="realocação">realocação</option>
                            </select>
                        </li>
                    </ul>
                    <hr>
                    <ul class="mt-4 d-flex flex-rows  align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3  fw-bold  me-2">
                            <span>Origem:</span>
                        </li>
                        <li class="col-sm-8 me-5">
                            <select name="Origem" class="form-select bg-dark text-white"
                                aria-label=".form-select-sm example" required>
                                <option value="" selected>Selecione a Origem</option>
                                <option value="tecnológica">tecnológica</option>
                                <option value="burocratica">burocratica</option>
                                <option value="negociação">negociação</option>
                                <option value="distribuição">distribuição</option>
                                <option value="armazenamento">armazenamento</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <a class="fw-bold fs-5 btn btn-outline-light d-flex justify-content-center mt-5"
                    data-bs-toggle="collapse" data-bs-target="#collapse3" role="button" aria-expanded="false"
                    aria-controls="collapse3" style="box-shadow: 0px 5px 10px black;border-radius: 5px 5px 5px 5px">
                    Cliente:
                </a>
                <div class="collapse mt-5" id="collapse3">
                    <ul class="mt-5 d-flex flex-rows  align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3  fw-bold  me-2">
                            <span>Empresa:</span>
                        </li>
                        <li class="col-sm-8 me-5">
                            <select name="Empresa" class="form-select bg-dark text-white"
                                aria-label=".form-select-sm example" required>
                                <option value="" selected>Selecio Uma Empresa</option>
                                <option value="positivo">positivo</option>
                                <option value="electrolux">electrolux</option>
                                <option value="submarino">submarino</option>
                                <option value="magazine luiza">magazine luiza</option>
                                <option value="amazon">amazon</option>
                            </select>
                        </li>
                    </ul>
                    <hr>
                    <ul class="mt-5 d-flex flex-rows  align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3  fw-bold  me-2">
                            <span>Representante:</span>
                        </li>
                        <li class="col-sm-8 me-5">
                            <input class="form-control check-input bg-dark text-white text-center" type="text"
                                name="Representante" placeholder=" Nome Completo do Representante"
                                style="text-transform:lowercase" required>
                        </li>
                    </ul>
                    <hr>
                    <ul class="mt-5 d-flex flex-rows  align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3  fw-bold  me-2">
                            <span>Telefone:</span>
                        </li>
                        <li class="col-sm-8 me-5">
                            <input class="form-control check-input bg-dark text-white text-center" type="text"
                                onpaste="return false" ondrop="return false" name="Telefone" id="telefone"
                                placeholder="Somento O Numero de Telefone"
                                onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                            <script
                                src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

                            <script type="text/javascript">
                                $("#telefone").mask("(00) 0000-00000");
                            </script>
                        </li>
                    </ul>
                    <hr>
                    <ul class="mt-5 d-flex flex-rows  align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3  fw-bold  me-2">
                            <span>Email:</span>
                        </li>
                        <li class="col-sm-8 me-5">
                            <input class="form-control  bg-dark text-white text-center" type="text" name="Email"
                                placeholder="Email De Contato" maxlength="70" list="Email"
                                style="text-transform:lowercase" required>
                        </li>
                    </ul>
                </div>
                <a class="fw-bold fs-5 btn btn-outline-light d-flex justify-content-center mt-5"
                    data-bs-toggle="collapse" data-bs-target="#collapse4" role="button" aria-expanded="false"
                    aria-controls="collapse4" style="box-shadow: 0px 5px 10px black;border-radius: 5px 5px 5px 5px">
                    Descrição:
                </a>
                <div class="collapse" id="collapse4">
                    <ul class="mt-5 d-flex flex-rows  align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3  fw-bold me-2">
                            <span>Titulo:</span>
                        </li>
                        <li class="col-sm-8 me-5">
                            <input class="form-control bg-dark text-white text-center" name="Titulo"
                                type="text" placeholder="Ex: Reencaminhar ao Fabricante"
                                style="text-transform:lowercase" required>
                        </li>
                    </ul>
                    <hr>
                    <ul class="mt-5 d-flex flex-rows  align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3  fw-bold me-2">
                            <span>Descriçoes Adicionais:</span>
                        </li>
                        <li class="col-sm-8 me-5">
                            <textarea class="form-control is-invalid bg-dark text-white text-center"
                                placeholder="Ex: Produto apresentou um defeito..." maxlength="256" name="Descricao"
                                 cols="10" rows="5" style="text-transform:lowercase" required></textarea>
                        </li>
                    </ul>
                    <hr>
                    <ul class="mt-5 d-flex flex-rows  align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3  fw-bold me-2">
                            <span>Manutenção:</span>
                        </li>
                        <li class="col-sm-8 me-5">
                            <select name="Manutencao" class="form-select bg-dark text-white"
                                aria-label=".form-select-sm example" required>
                                <option value="" selected>Selecione o tipo de Manutenção</option>
                                <option value="adaptativa">adaptativa</option>
                                <option value="corretiva">corretiva</option>
                                <option value="evolutiva/perfectiva">evolutiva/perfectiva</option>
                                <option value="preventiva">preventiva</option>
                            </select>
                        </li>
                    </ul>
                    <hr>
                    <ul class="mt-5 d-flex flex-rows  align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3 fw-bold me-2">
                            <span>Status:</span>
                        </li>
                        <li class="col-sm-8 me-5">
                            <select name="Status" class="form-select bg-dark text-white"
                                aria-label=".form-select-sm example" required>
                                <option value="" selected>Selecione o Status do Chamado</option>
                                <option value="em espera">em espera</option>
                                <option value="em processo">em processo</option>
                            </select>
                            </select>
                        </li>
                    </ul>
                    <hr>
                    <ul class="mt-5 d-flex flex-rows  align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-4 ms-5 me-2  fw-bold">
                            <span>Tempo Estimado:</span>
                        </li>
                        <li class="col-sm-8">
                            <input class="form-control  bg-dark text-white text-center w-50" type="date"
                                name="Tempoestimado" required>
                        </li>
                    </ul>
                    <hr>
                    <ul class="mt-5 d-flex flex-rows  align-items-center justify-content-center"
                        style="list-style: none;">
                        <li class="col-sm-3  fw-bold me-2">
                            <span>Responsável:</span>
                        </li>
                        <li class="col-sm-8 me-5">
                            {{#each funcionarioentrando }}
                            <input type="hidden" name="Criadordochamado" value="{{Nome}}">
                            {{/each}}
                            <select name="Nomedofuncionario"
                                class="form-select bg-dark text-white" aria-label=".form-select-sm example" required>
                                <option value="" selected>Selecione Um Responsavel Pelo Chamado</option>
                                {{#each Funcionarios }}
                                <option value="{{Nome}}">{{Nome}}</option>
                                {{/each}}
                            </select>

                        </li>
                    </ul>
                    <hr>
                </div>
                <div class="d-flex justify-content-center ">
                    <button type="submit" class="btn btn-success mt-5">Realizar Chamado</button>
                </div>
            </form>
        </section>
    </section>
</div>