<div class="d-flex justify-content-center align-items-center" role="main">
  <section class="bg-dark p-3 rounded w-50" style="box-shadow: 0px 5px 10px black">
    <section class="bg-white p-3 rounded" style="box-shadow: 0px 5px 10px black">
      <h1 class="text-white text-center rounded  fw-bold bg-dark p-1">Menu:</h1>
      <ul class="d-flex flex-wrap justify-content-center text-center gap-5 mt-4 me-4" style="list-style:none">
        <li class="rounded p-2" style="box-shadow: 0px 5px 10px black">
          <a href="/chamados" class="btn btn-outline-dark " role="button">
            <img src="https://res.cloudinary.com/daxkdqdex/image/upload/v1661043406/imagem1_fao4hf_nsysqn.jpg"
              class="img-thumbnail" alt="imagem de chamados">
            <p class="mt-2">Chamados</p>
          </a>
        </li>
        <li class="rounded p-2" style="box-shadow: 0px 5px 10px black;">
          <a href="/listadechamados" class="btn btn-outline-dark " role="button">
            <img src="https://res.cloudinary.com/daxkdqdex/image/upload/v1661043785/listagem_wsin6h_zotkfe.jpg"
              class="img-thumbnail" alt="imagem de listagem de chamados">
            <p class="mt-2">Listagem De Chamados</p>
          </a>
        </li>
        <li class="rounded p-2" style="box-shadow: 0px 5px 10px black">
          <a href="/listadeprodutos" class="btn btn-outline-dark " role="button">
            <img src="https://res.cloudinary.com/daxkdqdex/image/upload/v1661043711/equipamento_gcpg2e_xj9e21.jpg"
              class="img-thumbnail" alt="imagem de listagem de produtos">
            <p class="mt-2">Listagem De Produtos</p>
          </a>
        </li>
        <li class="rounded p-2" style="box-shadow: 0px 5px 10px black">
          <a href="/listadeclientes" class="btn btn-outline-dark ">
            <img src="https://res.cloudinary.com/daxkdqdex/image/upload/v1661043645/fornecedores_jhfk2v_czrufn.jpg"
              class="img-thumbnail" alt="imagem de listagem de clientes">
            <p class="mt-2">Listagem De Clientes</p>
          </a>
        </li>
        <li class="rounded p-2 mb-5" style="box-shadow: 0px 5px 10px black">
          <a href="/meusChamados" class="btn btn-outline-dark " role="button">
            <img src="https://res.cloudinary.com/daxkdqdex/image/upload/v1661043549/corrigirerro_ippbr3_vtxdfc.jpg"
              class="img-thumbnail" alt="imagem de listagem de chamados do funcionario">
            <p class="mt-2">Meus Chamados</p>
          </a>
        </li>
      </ul>
    </section>
  </section>
</div>